<template>
  <div>
    <img class="w-10 h-10 rounded-full mr-4" :src="fullAvatarUrl" :alt="altText" />
  </div>
</template>

<script>
export default {
  props: {
    username: {
      type: String,
      required: true,
    },
    avatarUrl: {
      type: String,
      required: true,
    },
  },
  computed: {
    altText() {
      return `Avatar of ${this.username}`;
    },
    fullAvatarUrl() {
      const absolutePathPattern = /^https?:\/\/|^\/\//i;
      if (!absolutePathPattern.test(this.avatarUrl)) // if URL is not absolute
      {
        return `https://www.gitlab.com${this.avatarUrl}`;
      }
      return this.avatarUrl;
    },
  },
};
</script>
