<template>
  <div class="py-2 px-4 grid gap-4">
    <issue-body
      v-for="issue in issues"
      :key="issue.iid"
      :completion="issue.completion"
      :iid="issue.iid"
      :labels="issue.labels.nodes"
      :title="issue.title"
      :web-url="issue.webUrl"
    />
  </div>
</template>

<script>
import IssueBody from "@/components/issue_body.vue";

export default {
  components: {
    IssueBody,
  },
  props: {
    issues: {
      type: Array,
      required: true,
    },
  },
};
</script>
