<template>
  <svg viewBox="0 0 36 36" class="[ progress-ring ]" :style="style">
    <g
      fill="none"
      transform="translate(18, 18) rotate(-90)"
      class="stroke-current"
    >
      <circle class="[ time-passed ] text-gray-700 stroke-3" r="16" />
      <circle class="text-black stroke-2" r="16" />
      <circle class="text-gray-900" r="16" />
      <circle class="[ completed ]" :class="completionClass" r="16" />
    </g>
    <g transform="scale(0.5) translate(18, 18)">
      <path
        fill="#e24329"
        d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z M18,34.38 3,14 33,14 Z"
      />
      <path
        fill="#fc6d26"
        d="M18,34.38 11.38,14 2,14 6,25Z M18,34.38 24.62,14 34,14 30,25Z"
      />
      <path
        fill="#fca326"
        d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"
      />
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    daysInMilestone: {
      type: Number,
      required: true,
    },
    daysPassedInMilestone: {
      type: Number,
      required: true,
    },
    issueCompletion: {
      type: Number,
      required: true,
    },
  },
  computed: {
    completionClass() {
      return this.issueCompletion > this.timePassed
        ? "text-green-600"
        : "text-orange-600";
    },
    style() {
      const [t, c] = [this.timePassed, this.issueCompletion];
      return {
        "--time-passed": t ? Math.min(100, t) : 0,
        "--completed": c ? Math.min(100, c) : 0,
      };
    },
    timePassed() {
      return (this.daysPassedInMilestone / this.daysInMilestone) * 100;
    },
  },
};
</script>

<style scoped>
.progress-ring {
  --completed: 0;
  --time-passed: 0;
}

.completed {
  stroke-dasharray: var(--completed) 100;
  transition: stroke-dasharray 1s, color 1s;
}

.time-passed {
  stroke-dasharray: var(--time-passed) 100;
  transition: stroke-dasharray 1s;
}
</style>
